<ion-content class="ion-padding">
  <ion-card class="animated zoomIn delay-10s">
    <ion-card-header class="scroll"> Register </ion-card-header>
    <ion-card-content>
      <form>
        <ion-list>
          <ion-item>
            <ion-label class="floating" position="floating"
              >User Name</ion-label
            >
            <ion-input type="text" name="userName" [(ngModel)]="user.userName"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="floating" position="floating">Email</ion-label>
            <ion-input type="email" name="email" required="true" [(ngModel)]="user.email"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="floating" position="floating">Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-list class="buttoms">
    <ion-row>
      <ion-col col-2>
        <ion-button
          class="animated zoomInUp delay-1000s"
          fill="outline"
          shape="round"
          (click)="goToPage('welcome')"
          size="default"
        >
          Back
          <ion-icon slot="start" name="arrow-round-back"></ion-icon>
          <div></div>
        </ion-button>
      </ion-col>

      <ion-col col-2>
        <ion-button
          class="animated zoomInUp delay-1000s"
          size="default"
          shape="round"
          (click)="register()"
        >
          Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
